<%- include('include/head.ejs') %>
<link rel='stylesheet' href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>


<body>
<%- include('include/navigation.ejs') %>
<div class ="alert alert-danger ; col-xs-12 ">
    <h1 style="text-align: center">Page Not Found!</h1>
</div>
<%- include('include/end.ejs') %>